# eclipse stuff
.project
.settings
.classpath
.buildpath

# maven target repos
/stuffoflegend-character/target
/stuffoflegend-character/.classpath
/stuffoflegend-parent/.project
/stuffoflegend-parent/.settings
/stuffoflegend-web/.project
/stuffoflegend-web/.settings
/stuffoflegend-web/target
/stuffoflegend-web/.classpath
/stuffoflegend/.settings
/stuffoflegend/.project
/stuffoflegend-data/.project
/stuffoflegend-data/.settings
/stuffoflegend-data/target
/stuffoflegend-data/.classpath
